
body {
    background-color: #222;
    margin: 0;
    padding: 0;
}

a {
    display: flex;
    color: gray;
    justify-content: center;
}

a:visited {
    color: gray;
}

a:hover {
    color: yellow;
}

#canvas1 {
    position: absolute;
    z-index: 0;
}

#canvas2 {
    position: relative;
    z-index: 1;
    font-size: 3rem;
}

#header {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4rem;
}

#question {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3rem;

}

#fretboard {
    font-family: "courier new", sans-serif;
    font-size: 3rem;
    color: white;
}

/* Scoreboard */

#scoreboard {
    display: flex;
    color: white;
    font-size: 2rem;
    align-items: flex-end;}

#score_label {
    margin: 10px;
    color: green;
}

#score {
    margin: 10px;
}

#mistakes_label {
    margin: 10px;
    color: red;
}

#mistakes {
    margin: 10px;
}